{% load static from staticfiles %}
<!doctype <!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Page Title {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    {% block static %} {% endblock %}
</head>
<body>
        <div class="site-container">
            <nav>
                <a href="{% url 'views.hello_world' %}">Home</a>
                <a href="{% url 'courses:list' %}">Courses</a>
            </nav>
        {% block content %} {% endblock %}
        </div>
        
</body>
</html>